<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGroupsbadgesLabel" jhiTranslate="armoryApp.groupsbadges.home.createOrEditLabel">Create or edit a Groupsbadges</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!groupsbadges.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="groupsbadges.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="armoryApp.groupsbadges.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="groupsbadges.date"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.date?.dirty && editForm.controls.date?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.date?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="armoryApp.groupsbadges.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="groupsbadges.status" id="field_status"  required>
                <option value="ALPHA">{{'armoryApp.Status.ALPHA' | translate}}</option>
                <option value="BETA">{{'armoryApp.Status.BETA' | translate}}</option>
                <option value="SANDBOX">{{'armoryApp.Status.SANDBOX' | translate}}</option>
                <option value="DEVELOPMENT">{{'armoryApp.Status.DEVELOPMENT' | translate}}</option>
                <option value="PRODUCTION">{{'armoryApp.Status.PRODUCTION' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="armoryApp.groupsbadges.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="groupsbadges.description" required maxlength="65"/>
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 65 }">
                   This field cannot be longer than 65 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="armoryApp.groupsbadges.picture" for="field_picture">Picture</label>
            <div>
                <img [src]="'data:' + groupsbadges.pictureContentType + ';base64,' + groupsbadges.picture" style="max-height: 100px;" *ngIf="groupsbadges.picture" alt="groupsbadges image"/>
                <div *ngIf="groupsbadges.picture" class="form-text text-danger clearfix">
                    <span class="pull-left">{{groupsbadges.pictureContentType}}, {{byteSize(groupsbadges.picture)}}</span>
                    <button type="button" (click)="clearInputImage('picture', 'pictureContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_picture" (change)="setFileData($event, groupsbadges, 'picture', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="picture" id="field_picture"
                [(ngModel)]="groupsbadges.picture" />
            <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                [(ngModel)]="groupsbadges.pictureContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
