
<div *ngIf="forms">
    <h2><span jhiTranslate="armoryApp.forms.detail.title">Forms</span> {{forms.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="armoryApp.forms.date">Date</span></dt>
        <dd>
            <span>{{forms.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="armoryApp.forms.description">Description</span></dt>
        <dd>
            <span>{{forms.description}}</span>
        </dd>
        <dt><span jhiTranslate="armoryApp.forms.picture">Picture</span></dt>
        <dd>
            <div *ngIf="forms.picture">
                <a (click)="openFile(forms.pictureContentType, forms.picture)">
                    <img [src]="'data:' + forms.pictureContentType + ';base64,' + forms.picture" style="max-width: 100%;" alt="forms image"/>
                </a>
                {{forms.pictureContentType}}, {{byteSize(forms.picture)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'forms/'+ forms.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
